:root{
    --yellow: #FFC600;
    --purple: #280620;
}
*{
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    color: var(--purple);
}

.landing-page{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.landing-page img{
    height: 450px;
}
.hello{
    padding-top: 50px;
    margin-left: 50px;
}
.hello h2{
    font-size: 96px;
    color: var(--yellow);
    font-weight: 500;
}
.hello h1{
    font-size: 185px;
    font-weight: 500;
    margin-left: 50px;
}


.about-me{
    display: flex;
    background-color: var(--purple);
    height: 350px;
    padding: 20px;
}

.name{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name h2{
    color: white;
    font-size: 50px;
}
.name h1{
    color: var(--yellow);
    font-size: 133px;
}
nav{
    position: fixed;
    background-color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-text{
    display: flex;
}

nav .nav-text p{
    margin-left: 50px;
    margin-right: 50px;
}

.footer{
    background-color: var(--purple);
    width: 100%;
    height: 50px;
    position:fixed;
    bottom:0;
}
.footer p{
    color: white;
    font-size: 30px;
}

button{
    width: 100px;
    height: 200px;
}
@media only screen and (max-width: 600px) {
    .landing{
        flex-direction: column;
    }
    .hello{
        font-size: 50px;
    }
    .welcome{
        font-size: 70px;
    }
  }





/* 
body{
    height:100vh;
    width: 100vw;
}
.section1{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 100vh;
    align-items: flex-end;
    
}
.container{
    border: black solid;
    width: 25%;
}
.dikit{
    order: -1
} */